<!DOCTYPE html>
<html ng-app="odataSampleApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<script src="/lib/jquery/src/jquery.js"></script>
	<script src="/lib/angular/angular.js"></script>
	<script src="/scripts/app.js"></script>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2016 - OData</p>
		</footer>
	</div>
</body>
</html>
