* text

*.bmp binary
*.dll binary
*.gif binary
*.jpg binary
*.png binary
*.snk binary

*.ascx text
*.cd text
*.cmd text
*.coffee text
*.config text
*.cs text diff=csharp 
*.csproj text merge=union 
*.cshtml text
*.css text
*.dtd text
*.edmx text
*.htm text
*.html text
*.js text
*.json text
*.msbuild text
*.nuspec text
*.resx text
*.ruleset text
*.StyleCop text
*.targets text
*.tt text
*.txt text
*.vb text
*.vbhtml text
*.vbproj text merge=union 
*.vbs text
*.wsf text
*.xml text
*.xunit text

*.sln text eol=crlf merge=union 
