---
layout: page
title: "Old layout"
permalink: /old-layout/
---

{% assign sortedCategories = site.categories | sort %}
{% for loop in site.categories %}
  {% assign myIndexStr = forloop.index | upcase %}
  {% for category in sortedCategories %}
    {% assign index = category[0] | split:"." | first %}
    {% if index == myIndexStr %}
      <h2>{{ category[0] | join: "/" }}</h2>
      <ul>
	  {% for posts in category %}
          {% for post in posts reversed %}
          {% if post.url %}
            <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}
