<form name="productsForm" ng-submit="productsForm.$valid && addProduct()" server-form-validation>
	<!---->
	<h2>Products POST</h2>
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" id="Name" class="form-control"
		       name="Name" ng-model="Name"
		       server-field-validation="Products.Name"
		       ng-model-options="{ debounce: 300 }"/>
		<!---->
	</div>
	<div class="form-group">
		<label for="product-price">Price</label>
		<input type="text" id="product-price"
		       server-field-validation="Products.Price"
		       class="form-control" name="Price" ng-model="Price"/>
		<!---->
	</div>
	<h2>Is invalid: {{productsForm.$invalid}}</h2>
	<div class="form-group">
		<!--ng-disabled="(productsForm.$submitted && productsForm.$invalid) || productsForm.$pending"-->
		<button class="btn btn-default">POST to Products</button>
	</div>
</form>