<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Facebook:AppId" value="123456" />
    <add key="Facebook:AppSecret" value="abcdefg" />
    <add key="Facebook:AppNamespace" value="MyApp" />
    <add key="Facebook:AppUrl" value="https://apps.newfacebook.example.com/myapp" />
    <add key="Facebook:AuthorizationRedirectPath" value="~/Authorize/Index" />
  </appSettings>
</configuration>