<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Bristol vNext" value="http://10.144.100.10:8181/nuget/vNext" />
    <add key="Manhattan" value="http://nuget1ca2/nuget/Manhattan" />
    <add key="AspNetVNextUnstable" value="https://www.myget.org/F/aspnetvnext/api/v2" />
    <add key="XunitUnstable" value="https://www.myget.org/F/xunit/" />
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetrelease/api/v2" />
    <add key="NuGet" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>
