@using ROOT_PROJECT_NAMESPACE.Areas.HelpPage.ModelDescriptions
@model IList<PropertyDescription>

<ul>
    @foreach (var property in Model)
    {
        ModelDescription modelDescription = property.TypeDescription;
        <li>
            <b>@property.Name</b>
            @if (modelDescription != null)
            {
                @:(@Html.DisplayFor(m => modelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = modelDescription }))
            }
            @if (property.Documentation != null)
            {
                <p>@property.Documentation</p>
            }
            @if (property.Annotations.Count > 0)
            {
                <ul>
                @foreach (var annotation in property.Annotations)
                {
                    <li>@annotation.Documentation</li>
                }
                </ul>   
            }
        </li>
    }
</ul>